<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
      </div>
      <!--/.col-sm-3-->
      <div class="col-md-3 col-sm-6 col-xs-12">
      </div>
      <!--/.col-sm-3-->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div id="text-5" class="widget widget_text">
          <div class="textwidget"></div>
        </div>
      </div>
      <!--/.col-sm-3-->
      <div class="col-md-3 col-sm-6 col-xs-12">
      </div>
      <!--/.col-sm-3-->
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
</footer>